.wp-caption{.mb(1.5em); .tac; .pt(5);
	img{ .ba; .p; .m;}
	p.wp-caption-text{line-height:1.5; .fs(10); .m;}
}
.wp-smiley{.m!important; .mxh(1em);}
blockquote{
	.left{ .m(0,20,0,0); .tar; .fl; }
	.right{ .m(0,0,0,20); .tal; .fr; }
}
.relative{.pre;}
.absolute{.pab;}
.block{.db;}
.inline-block{.dib}
.clear{clear:both; .w100(0); .fs(0,0); .oh;}
.animation,a,button,input{transition:all .4s ease;-moz-transition:all .4s ease;-o-transition:all .4s ease;-ms-transition:all .4s ease;-webkit-transition:all .4s ease}
.animation-all,.animation-all *{transition:all .4s ease;-moz-transition:all .4s ease;-o-transition:all .4s ease;-ms-transition:all .4s ease;-webkit-transition:all .4s ease}
.alignleft{.fl;.mr(30);}
.alignright{.fr;.ml(30);}
.aligncenter{.mc(0,24);.db;}
.hidden{.dn!important}
.fl{.fl}
.fr{.fr}
img,.res-img{.mxw(100%,auto);}
.after-clear:after{.ct;.db;clear:both;.w(0,0);.oh}
.normal-text{ .fw(400); }
.center-vh{.center-vh;}
.center-v{.center-v;}
.center-h{.center-h;}
.shaddow-1(){
	-webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
	-moz-box-shadow:    0px 0px 4px 0px rgba(0, 0, 0, 0.1);
	box-shadow:         0px 0px 4px 0px rgba(0, 0, 0, 0.1);
}
.shaddow-none(){
	-webkit-box-shadow: none;
	-moz-box-shadow:    none;
	box-shadow:         none;
}