/* Nav */
@bg-btn: #ffcb05;
@bg-btn-hover: #000;
@border-btn: #000;
@border-btn-hover: #000;
@bg-icon: #000;
@bg-icon-hover: #ffcb05;
.menu-mobile-toggle{ .ba(@border-btn); .bg(@bg-btn); .db; .p(9,10); .ani; .mc(15,0);
	.icon-bar{.bg(@bg-icon); .db; .w(22,2); .b-radius(1); .ani; 
		&+.icon-bar{ .mt(4); }
	}
	&:hover{ .bg(@bg-btn-hover); .ba(@border-btn-hover);
		.icon-bar{.bg(@bg-icon-hover);}
	}
	@media (min-width: 769px){ .dn;}
}

@media (max-width: 768px){
	.navbar{.m; .h; .w100; .mih; .p; .ba; .pin; }
	.navbar-main{ .r(-70%,0); .pab; .w(70%,100%); .bg(#222); .z99; .ani;
	   &.active{ .r; }
	   #navbar{ .p;
			.arrow{.dn}
	        .menu{ .lh(18);
				li{.db;.p;.w100;}
	            >li{.db; .m;.pre;.bb(#3B3B3B);
					> a,.title{ .fs(14); .p(8,15);.cw; .tal; .db; .m;  .tdn;
						&:hover{.c(#ffcb05);.bg(#3B3B3B); }
					}
	                > a:before{ .ctfa; .fs(16); .dib; .w(25); }
	                &:nth-child(1) > a:before{.ct('\f155');}
	                &:nth-child(2) > a:before{.ct('\f0f0');}
	                &:nth-child(3) > a:before{.ct('\f07a');}
	                &:nth-child(4) > a:before{.ct('\f02d');}
	                &:nth-child(5) > a:before{.ct('\f017');}
	                &:nth-child(6) > a:before{.ct('\f0f7');}
	                &:nth-child(7) > a:before{.ct('\f06b');}
	                &:nth-child(8) > a:before{.ct('\f0e9');}
					
					> .sub-menu{.bg(#313131);.p(10,15);
						a{.db; .fs(14); .p(8,10);.cw; .tal; .m;  .tdn;}
						.sub-menu{.pl(20);}
						&.mega-img,.mega-img{
							.sub-menu{.pl!important;.fs;.pb(5);.pt(10)}
							li{.bb;.w(50%);.dib;.tac;.mb(15);
								a{.hover;.bt(#fad442,2);.bg(#efefef);.p;.f-hover(16,36,rgba(255,203,5,0.88));.dib;}
							}
							
						}
						.view-all{.dn}
						li{border-bottom: 1px dashed #777;
							&:last-child{.bb;}
						}
					}
					
					.sub-menu{.tf-origin(0,0);.oh;.pab;.w100;.vh;.tf-scale(1,0);z-index:-999}
					
					&.active,.active{
						> .sub-menu{.tf-scale(1,1);.pre;.h(auto);.vv;.z1;.ani;}
					}
	            }
				.menu-item-has-children{.pre;
					> a{.pr(25);
						&:after{.ctfa('\f103');.pab;.r(0,0);.lh(36);.w(25);.tac;}
					}
				}
				
	        }
				
	    }
		.close-btn{ .tac; .c(#ffcb05); .fs(16); .cup; .p(8px 0); .bg(#323232);}
		&.active .close-btn:before{.pab(0,-100%);.w100(100%);.ct;.db;}
	}
}
@media (min-width: 769px){
	.navbar{.ba;.bt(#f1f1f1);.m;}
	.navbar-main{
		.close-btn{ .dn; }
	}
	#navbar{.z2;.pre;
		.menu{.fs;text-align: justify;.pre;.h(50);.tf3d-per;
			>li{.dib;.p(14,0);
				>a{.fs(13,22);.db;.ttu;.c(#070000);.fw(500);.pre;
					&:before{.ct;.pab(-15,0);.w100(0);.bg(#ffcb05);.ani;}
				}
				&:hover > a:before{.h(2);}				
			}
			&:after{.ct;.w100;.dib;}
		}
		.title{.ttu;.c(#070000);.fw(500);.fs(12,21);.db;.mb(10);}
		.view-all{.ttu;.c(#ffcb05);.fs(13,20);.dib;.f_2;
			.fa{.fs(13,20);}
		}
		.mega-menu-wrap:hover > .mega-menu{.tf3d-rotate(0,0,0);.opacity(1);.vv;.ani(0.6)}
		.mega-menu{.w100;.pab(100%,0);.bg(#fafafa);.p(34,0,17,0);.tf3d-rotate(-90,0,0);.ani;.tf-origin(top,center);.opacity;.vh}
		.mega-img{.p(0,30);
			.sub-menu{.fs;.mxw(270);.pt(5);
				.sub-menu{.dn;}
				li{.w(33.333%);.w(~"calc(100% / 3)");.dib;.p(0,4);.mb(28);
					a{.hover;.bt(#fad442,2);.bg(#efefef);.f-hover(16,36,rgba(255,203,5,0.88));}
				}
			}
		}
		.mega-no-img{.mb(17);
			.sub-menu{.mb(10);
				.sub-menu{.dn;}
				a{.c(#404951,#fad442);.fs(13,20);.dib;}
				li{.p(5,0);.lh(20);}
			}
		}
		.no-mega-menu{.pre;
			.sub-menu{.pab(100%,0);.miw(150);.fs(13);white-space: nowrap;.opacity;.vh;.ani(0.2);
				li{.pre;.bg(#fafafa);.ani;
					&:hover{.bg(#ffcb05);
						> a{.cw;}
						> .sub-menu{.vv;.opacity(1);.ani(0.4);}
					}
				}
				a{.c(#0d161f);.db;.p(5,10);}
				.sub-menu{.pab(0,100%);.bl(#ffcb05,2);}
			}
			&:hover > .sub-menu{.vv;.opacity(1);.ani(0.4);}
		}
		.col-sm-31{.w(~"calc(200% / 9)");.p(0,15);}
	}
}