.f_2(){font-family: 'Roboto Condensed', sans-serif;}
.f_1(){font-family: 'Roboto', sans-serif;}
.hover{ .pre; .db;
	&:before{ .fs(0,0); .z2; .pab(50%,50%); .tac; .w-h; .ani; .cw; }
	&:after{ .z1; .w100(100%); .pab(0,0); .bg; .ani; .ct; }	
}
.f-hover(@fs; @w; @color; @ct: '\f067'; ){
	&:before{ .ctfa(@ct); }
	&:hover:after{ .bg(@color); }
	&:hover:before{ .mt(-@w/2); .ml(-@w/2); .lh(@w); .w-h(@w); .fs(@fs); }
}
.ff-hover(@fs; @w; @color; @ct: '\f067'; ){
	&:hover{
		.hover{
			&:after{ .bg(@color); }
			&:before{ .mt(-@w/2); .ml(-@w/2); .lh(@w); .w-h(@w); .fs(@fs); }
		}
	}
}