@yellow: #ffcb05;
@black: #070000;
@blue: #0d161f;
html{.h(100%)}
body { .f_1; .fs(14,22);.h(100%)}
#wrapper{.oh; .w100; .pre;}
h1, .h1, h2, .h2, h3, .h3,h4, .h4,.h5,h5,p,ul,ol{.m;}
a:hover,a:active{.tdn;}

.row-ossvn{.fs}
.col-ossvn{.dib;.fn;.fs(14)}

/* Header */
header{
	.logo{.pab;}
}
.header-top{.bgc(#0d161f);
	.menu{.fs(0,0);.p(11,10);}
	li{.dib;.p(0,20);.bl(#262f37);
		&:first-child{.bl;}
	}
	a{.c(@yellow,#fff);.fs(13,18);.ttu;.f_2;.db;}
}
.header-bottom{.pre;
	.top{.fs(12,21);.ttu;.c(#6c7278);.p(9,0,13);
		a{.c(#6c7278,@yellow);.fs(14,21);.db;
			.fa{.fs(14,21)}
			.fa-heart{.c(#f66060,@yellow);.ani;}
		}
		.menu{.fs;
			li{.dib;.p(0,15,0,16);.pre;
				&:before{.ct;.w(1,13);.center-v;.pab;.l;.bg(#d4d5d6);}
				&:first-child{.p(0,20);
					&:before{.dn;}
				}
				&:last-child{.pr;}
			}
		}
		.left{.fl;.mb(9);}
		.right{.fr;.mb(9)}
	}
	.bottom{.pb(16);
		.left{.fl;.pl(80);.pre;.mxw(50%);
			img{.vam;.mr(16);}
			a{.db;}
		}
		.label-left{.fs(12,36);.pab(0,0);.c(#6c7278);}
		a{.c(#0d161f,@yellow);}
		.right{.fr;.resw(270);.pre;}
	}
}

.searchform{.pre;
	.inp-search{.bg(#f4f4f4);.w100(32);.ba;.oln;.p(0,32,0,10);}
	.btn-search{.w-h(32);.pab;.r(0,0);.ba;.bg;.fs(14,32);.p;.z1;.ani;.c(#666d74,@yellow);.tac;.oln;
		.fa{.fs(14,32);}
	}
}

.contact-form{.mxw(270);
	.input-form{.w100(39);.bg(#21282f);.p(0,10);.ba(#35404b);.bb;.placeholder(#949393);.fs(12);.oln;.cw;}
	textarea.input-form{.pt(8);.bb(#35404b);.h(85);.mb(10);}
	.button-form{.w(110,35);.bg(@yellow);.c(@blue);.ba;.fw(500);.pt(5);
		&:hover{.bg(#fff);}
	}
}

.ossvn-block{.p(100,0,60);
	&.padding-top-small{.pt(50)}
	h2.title{.fs(24,35);.c(@blue);.ttu;}
	.icon{.dib; .pre;.p(0,12);.mb(15);
		.fa{.fs(16,18);.db;.c(@yellow);}
		&:before,&:after{.ct;.w(80,2);.bg(#eaeaea);.center-v;.pab;}
		&:before{.r(100%);}
		&:after{.l(100%);}
	}
	p{.c(#565b61);}
	.top{.dib;.mxw(570);.pb(45);}
	
	.searchform{.mxw(670);.pr(48);.mb(20);.pb(20);
		.inp-search{.bgw;.ba(#e3e3e3,1);.fs(14);.pl(20);.placeholder(#737373);.h(48);.c(@blue);
			&:focus{.bc(@blue);}
		}
		.btn-search{.w-h(48);.cw;.bg(@blue,@yellow);.fs(16);}
		&.checkform{
			.inp-search{border-width: 1px;.fs(14);.h(48);}
			.btn-search{.w-h(48);}
		}
	}
}
.widget{
	.searchform{.pb;.mb;}
}

h3.search-title{.ttu;.fs(18,24);.c(@blue);.fwm;.mb(70);.tal;}

.product-item{.bt(@yellow,2);.mb(40);.tac;
	.hover{.db;.mb(12);.bg(#f4f4f4);.f-hover(14,36,rgba(255,203,5,0.88));
		&:before{.ct("Xem chi tiết");.f_1;.ttu;.bg(#fff);.c(@blue);}
		&:hover:before{.lh(36);.w(120);.ml(-60);}
	}
	.title{.ttu;.c(@blue,@yellow);.fw(500);.db;.mb(4);}
	.category{.c(@yellow,@blue);.fw(500);}
}

.banners{.tac;
	.banner{.mxw(370);.dib;.bg(#000);.pre;.ani;
		&:before{.ct;.pab(10,10);.ba(#fff,2);.b(10,10);.ani;.z3;}
		span,.background{.ani}
		&.dark-themes{
			.background{.opacity(0.31);}
			span{.cw;border-bottom-color: #fff;}
			&:hover{
				.background{.opacity(1);}
				span{.c(@black);border-bottom-color:@black}
			}
		}
		&.light-themes{
			span{.c(@black);border-bottom-color: @black;}
			
			&:hover{
				.background{.opacity(0.31);}
				span{.cw;border-bottom-color:#fff}
			}
		}
		&.dark-frame:before{border-color: @black;}
		&.dark-frame.light-themes:hover:before{border-color: #fff;}
		&.light-frame:before{border-color: #fff;}
		&.light-frame.dark-themes:hover:before{border-color: @black;}
		
		.text-wrap{.w100;.pab;.z1;.center-v;.l;.p(0,30,6);}
		.title{.fs(36,52);.fw(500);.ttu;.dib;.bb(#fff,2);}
		.category{.db;.fs(24,36);.p(3,0);.fw(500);}
		.left-thumb{.pab(30,5);.z3;.mxw(50%);}
	}
}

.hover-large{.mb(30)}

.row-small-product{.pre;
	&:before{.pab(50%,15);.r(15);.db;.h(1);.bg(#ededed);.mt(-30);}
	&.last-line:before{.opacity;}
	li{.pb(20);.mb(30);}
	.product-item-shop .add_to_cart_button{.fs(12);.miw(110);.t(100);}
	
}
.product-item-shop{.ff-hover(24,42,rgba(255,203,5,0.88));.pre;
	a{.db;}
	h3{.fs(14,22);.ttu;.mb(12);.fw(500);}
	ins{.tdn;.fw(500);.c(@yellow);.p(0,2);}
	del{.fs(13);.c(#9c9c9c);.p(0,2);}
	.price > span{.fw(500);.c(@yellow);.p(0,2);}
	.hover{.db;.bt(@yellow,2);.bg(#f4f4f4);.mb(10);}
	.add_to_cart_button{.bgw;.w(180,40);.dib;.pab;.opacity;.z1;.ttu;.c(@blue);.mxw(66.6667%);.fs(13,22);.p(9);
		&:hover{.bg(@blue);.cw;}
	}
	&:hover{
		.add_to_cart_button{.opacity(1);}
	}
}

.page-title{.bg(#000);.cw;.ttu;.pre;.oh;
	img{.opacity(0.29);}
	h1{.fs(30,36);.pab;}
	&.small-style{.mxh(125);
	}
}

.category-list{.p(38);.bg(#fafafa);
	ul{text-align: justify;.fs(0,0);
		&:after{.ct;.w100;.dib;}
	}
	li{.dib;.tac;}
	a{.db;.pre;
		&:before{.ct;.w(0,2);.bg(@yellow);.opacity;.pab;.b;.l(50%);.ani;}
		&:hover{
			.front{.opacity}
			.back{.opacity(1)}
			&:before{.l;.w100;.opacity(1)}
		}
	}
	.current{
		a{
			.front{.opacity}
			.back{.opacity(1)}
			&:before{.l;.w100;.opacity(1)}
		}
	}
	.icon{.dib;.pre;
		.front,.back{.ani;}
		.front{.opacity(1);}
		.back{.opacity;.pab(0,0);}
		
	}
	.title{.fs(13,22);.db;.p(4,4,6);.c(@black);.fw(500);}
}

.woocommerce-pagination{
	> .page-numbers{.fs;.ba(#bdc3c7);.dib;}
	li{.dib;.bl(#bdc3c7);
		&:first-child{.bl;}
	}
	a,span{.fs(14,32);.c(#34383d);.w(32);.db;.tac;
		&:hover,&.current{.c(#fff);.bg(@yellow);}
		.fa{.lh(32);}
	}
}

.product-cats{
	.product-item-shop{.mb(40);
		a{.c(@blue)}
		h3{.mb;}
		.add_to_cart_button{.pre(0,0);.tf-translate(0,0);.opacity(1);.resw(100%)}
		.option-link{.bgw;.w(40);.dib;.z1;.ttu;.c(@blue);.resw(100%);.fs(13,22);.p(9);.mb(5);
			&:hover{.bg(@blue);.cw;}
		}
		.overlay{.p(0,15);.pab(160,0);.w100;.cw;.z2;.opacity;.ani;
			ul{.m(0,-3,12);.afcl;
				li{.fl;.miw(25%);.p(0,3);.mb(10);}
				input{.vh;.opacity;.pab;z-index: -9999;.w-h(0);
					&:checked + label{border-color: @blue;.c(@blue);}
				}
				label{.fs(16);.tac;.ba(#fff,2);.db;.cup;.ani;.p(0,5);}
			}
		}
		.variants{.tal;
			.label-var{.fs(13);.fw(500);.mb(10);.db;}
		}
		&:hover{
			.overlay{.opacity(1)}
		}
	}
}

.filter{.pt(25);
	.left{.c(#858585);.fl;.p(7,0);
		a{.c(#858585);.tdu;}
		.fa{.fs(14,22);.ml(5)}
	}
	.right{.fr;
		.label-order{.c(#858585);.dib;.p(7,0);}
	}
}

.heapBox{	.w(200,36); .pre;.dib;.m;.z8;.ml(10);
	.holder{ .w100; .h100; .pab(0,0); .z1; .fs(14,32); .p(0,21,0,15); .c(#858585);.oh;.ba(#f4f4f4,2);.bgw;.m;}
	.handler{ .w(20,32); .pab; .r(0,0); .z2;.m;
		&:before{ .ctfa('\f107'); .c(#000); .fs(14,36); }}
	.heap{ .pab(36,0); .w100;
		ul{ .m; .bt(#cccccc); .bl(#cccccc); .br(#cccccc);
			li{ .bb(#cccccc); 
				a{ .bgw; .db; .c(#858585); .p(5px 15px);.m; &:hover{ .c(#000); .bg(#cccccc); } }
			}
		}
	}
}

/* Footer */
.footer-banner{.p(45,0);.bg(#f7f6f6);
	ul{.fs(0,0);text-align: justify;
		li{.fs(18,32);.p(21,0,21,94);.dib;.ttu;.fwb;.c(@blue);.pre;.vam;
			img{.pab(5,0);}
		}
		.line{.p;.w(2);
			&:after{.ct;.pab;.l;.center-v;.w(2,45);.bg(@yellow);}
		}
		&:after{.ct;.dib;.w100;.fs(0,0);}
	}
}

.footer-social{.bg(@yellow);.cw;.p(10,0);
	a{.cw(@blue);.fs(20,35);}
	.left{.fl;.fs(14,35);}
	.right{.fr;.fs;
		li{.ml(25);.dib;
			&:first-child{.ml}
		}
	}
}

.footer{.bg(@blue);.p(48,0,0); 
	h3.title{.fs(14,22);.cw;.f_2;.fwn;.mb(16);.ttu;}
	p{.c(#76787a);.fw(300);.mb(22);}
	.address-list{.cw;.fw(300);
		a{.cw(@yellow);}
		li{.mb(22);.pl(32);.pre;}
		.fa{.pab(0,0);.fs(16,22);.c(@yellow);}
	}
	.menu{
		a{.c(#969595,#fff);.fw(300);.dib;
			.fa{.c(#969595);.ani;.fwn;.fs(14,22);}
			&:hover .fa{.c(@yellow)}
		}
		li{.mb(12);}
	}
	.row{.pb(40); 
		> li{.mb(35);}
	}
}

.copyright{.bg(#0a121b);.cw;.fs(14,22);.f_2;.p(17,0);
	a{.c(@yellow);}
}

#menu-fixed-top{.pfx(-60,0);.w100(60);.bgw;.z(999);.opacity;.bb(@yellow);
	.btn-search-toggle{.dn;
		.searchform .btn-search;.t(12);
	}
	.header-bottom{.h(60);
		.bottom{.p(12,0);.pre;
			.right{.w(50%);.mxw(1000);position: static;
				.searchform{.mxw(270);.fr;.w(32);position: static;
					&:hover{
						.inp-search{.opacity(1);.w100}
					}
				}
				.inp-search{.opacity;.ani;.w(32);.mxw(270);.pab(12);.r;.z1;.pr(10);
					&:focus{.opacity(1);.w100;}
				}
				.btn-search{.z2;.t(12);}
				
				.menu-right{.fs;.fr;.p(7,36,7,0);
					li{.dib;.p(0,15,0,16);.pre;
						&:before{.ct;.w(1,13);.center-v;.pab;.r;.bg(#d4d5d6);}
						&:first-child{.p(0,20);}
					}
					a{.c(#6c7278,@yellow);.fs(14,21);.db;
						.fa{.fs(14,21)}
						.fa-heart{.c(#f66060,@yellow);.ani;}
					}
				}
				@media(max-width: 991px){
					.searchform{.vh;.z3;
						&.active{.vv;
							.inp-search{.opacity(1);.w100}
						}
					}
					.btn-search-toggle{.db;}
				}
				@media(max-width: 559px){.w(auto);
					.searchform{.pab(100%,0);.w100;.mxw(100%);.mt(1);
						.btn-search{.t;}
						.inp-search{.t;.w100;.mxw(100%);.bg(rgba(244, 244, 244, 0.88));.bb(@yellow);}
					}
					.btn-search-toggle{.r(15);}
				}
			}
		}
		@media(max-width: 559px){position: static;
			.bottom{position: static;}
		}
	} 
	&.active{.ani;.t;.opacity(1)}
	.searchform{
		.inp-search{.h(36);}
	}
	.logo{.pab;}
}

#menu-fixed-bottom{.pfx;.b(-100,0);.w100;.z(999);.opacity;
	&.active{.ani;.b;.opacity(1)}
	.flex-slider{.p(10,0);}
	.flex-viewport{.tf3d-per;}
	.header-top{
		.menu{.p;.mxw(100%);
			li{.bl;
				a{.p(5,0);}
			}
		}
	}
}

/* Product */
.product{
	.images{.pre;.pl(100);.oh;.mb(30);
		.thumbnails{.pab(0,0);.z1;.ani;
			.zoom{.db;.pb(12);}
		}
		.control-thumbnails{.pab;.l(-4,0);.bgw;.z2;.afcl;.p(12,0,0);.w(96);
			.control{.w50(48);.p(0,4);.fl;.cup;
				&:before{.db;.ani;.bg(#e3e3e3);.c(#222222);.fs(18,48);.tac;}
				&:hover:before{.bg(#1f1f1f);.c(@yellow);}
			}
			.control-down:before{.ctfa('\f107');}
			.control-up:before{.ctfa('\f106');}
		}
	}
	
	.product_title{.fw(500);.fs(18,28);.mb(10);}
	.summary{
		.price{white-space: nowrap;.mb(23);
			del{.fs(16,23);.c(#9c9c9c);.fw(500);.db;}
			ins{.tdn;.fs(30,35);.c(@yellow);.fw(500);.db;}
			.price > span{.tdn;.fs(30,35);.c(@yellow);.fw(500);.db;}
		}
	}
	.short-desc{.lh(24);.c(#585b5d);.mb(25);}
	.bonus-note{.mb(30);}
	.variations{
		.options-size{.mb(25)}
		.option-caption{.c(#323232);.fwb;.dib;.pr(15);.fs(14,23);.ttu;}
		.swatch-list{.dib;.fs(0,23);
			li{.mr(10);.dib;}
			label{.db;.cup;.mb;}
			span{.w-h(23);.db;.b-radius(50%);.pre;
				&:before{.w-h(25);.pab(-1,-1);.ct;.ba(#fff,3);.b-radius(50%);}
			}
			input[type="radio"]{.opacity;.vh;.pab;
				&:checked + span:before{.w-h(19,19);.t(2,2);.ba(#fff,1);}
			}
			.white-option{
				span{
					&:after{.w-h(19);.ct;.ba(#000,1);.pab(2,2);.b-radius(50%);}
				}
				input[type="radio"]:checked + span{
					&:before{.w-h(25,25);.t(-1,-1);.ba(#000,2);}
					&:after{.w-h(17);.pab(3,3);}
				}
			}
		}
		.size-list{.dib;.fs(0,26);.pb(18);
			li{.mr(8);.dib;.mb(10);}
			label{.db;.cup;.mb;}
			span{.fs(16,26);.w(41,30);.db;.pre;.ba(#d9d9d9,2);.c(#3b3b3b);.ani;.fw(500);.tac;}
			input[type="radio"]{.opacity;.vh;.pab;
				&:checked + span{.bg(@yellow);border-color: @yellow;}
			}
		}
	}
	.single_add_to_cart_button,.add_to_wishlist{.resw(225);.ba(@blue,2);.fs(13,21);.p(6,10);.tac;.bg(#fff);.c(@blue);.ttu;.db;.fw(500);.mc(0,15);.oln;
		&:hover{.bg(@yellow);border-color: @yellow;}
	}
	
}
.upsells,.tab-widget{.pt(24);
	&.tab-plugin{.oh;}
	h2{.cart_title;.bb(#f1f1f1,2);}
	.tab-control{.pre;.cup;
		&:after{.ctfa("\f150");.fs(14,36);.c(#6c7278);.fwn;.pab;.r(0,0);}
		&.tab-active:after{.ct("\f151");}
	}
	.tab-content{.opacity(1);.vv;.tf-origin(0,0);.ani;.h(auto);
		&.tab-active{.opacity(0);.vh;.h;}
	}
}

.cart_title{.fs(24,36);.c(@blue);.fw(500);.ttu;.mb(45);}

/* Cart */
.coupon{.pr(100);.pre;
	.input-text{.bg(#f1f1f1);.w100(41);.pl(15);.c(@black);.oln;.ba;.ani;.placeholder(#6c7278);}
	.button-submit{.bg(@yellow);.c(@blue);.fs(13);.ba;.ani;.fw(500);.f_1;.ttu;.w(100,41);.pab(0);.r;
		&:hover{.cw;.bg(@blue);}
	}
}

.cart-collaterals{.pt(30);.mb(45);
	table{.w100;.c(@blue);.mb(20);
		th{.fw(500);.ttu;.pb(18);}
		td{.fw(500);.tar;}
	}
}
.wc-proceed-to-checkout{.ttu;
	a{.db;.fs(13,21);.tac;.mb(10);.fw(500)}
	.checkout-button{.h(43);.bg(#45ab48);.bb(#359a38,2);.cw;.p(10,15);
		&:hover{.bg(@yellow);.c(@blue);.bbc(#FA9600);}
	}
	.continue-shopping{.h(41);.bgw;.ba(@blue,2);.c(@blue);.p(8,15);
		&:hover{.bg(@yellow);.bc(@yellow);}
	}
}

.box-support-cart{.bg(#ecf0f1);.tac;.p(25,0,25);.mb(30);
	h3{.ttu;.c(@blue);.fs(13,21);.mb(25);}
	ul{.fs;}
	li{.dib;.p(0,8,17);}
}

.shipping-info{.ttu;.fw(500);.tal;.mb(30);.pre;
	span{.c(@yellow);}
	.shipping_tooltip{.fs(14,22);.cw;.bg(#0aad80);.p(10,15);.pab(100%);.r(8);.w(160);.tal;.mt(10);text-transform: initial;.opacity;.ani;.fwn;
		&:before{.ct;.w(10,5);.bl(#fff,5);.br(#fff,5);.bb(#0aad80,5);.pab(-5,50%);.ml(-5);}
	}
	&:hover{
		.shipping_tooltip{.opacity(1)}
	}
	@media(max-width: 991px){
		.shipping_tooltip{.opacity(1)}
	}
}

.shop_table{.w100;.ba(#ecf0f1);.mb(130);.shaddow-1;
	thead{
		th{.bg(#ecf0f1);.c(@blue);.fw(500);.h(32);.vam;}
		.product-thumbnail{.pl(30);}
	}
	tbody{
		td{.p(17,8 );.vam;}
		.product-thumbnail{.pl(30);.mxw(116);
			a{.hover;.f-hover(16,36,rgba(255,203,5,0.88));.dib;}
		}
		.product-name{
			a{.c(@blue,@yellow);.ttu;.mb(3);.db;.fwm;}
			dl{.fs;.c(@blue);.fwm;.m;
				dt{.w(87);.dib;.fs(14);.mxw(50%);.fwm;}
				dd{.dib;.w(50%);.fs(14);.mb(3);}
			}
		}
		.quantity{.w(90,38);.ba(#eeeeee);.pre;.p(0,27);
			.qty{.w100;.tac;.c(#231f20);.oln;.h(36);.ba;.bl(#eeeeee);.br(#eeeeee);}
			button{.pab(0);.w(27,100%);.oln;.c(#a3a2a2);.bg(#f7f7f7);.f_1;.fs(14,36);.tac;.ba;
				&.minus-btn{.l;}
				&.plus-btn{.r;}
				&:hover{.bg(@yellow);.c(@blue);}
			}
		}
		.price{
			del{.c(#9c9c9c);.fwm;}
			ins{.tdn;.db;.fwm;.ttu;.c(@yellow);}
		}
		.remove{.w-h(24);.c(#f03b42);.db;.b-radius100;.tac;.fs(14,24);.bg(#ffd2d4);.mc;.fwm;
			&:hover{.bg(#f03b42);.cw;}
		}
	}
	@media(max-width: 991px){.mb(30);}
	
	&.shop_table_checking{.tac;.mb(30);.ba;.shaddow-none;
		thead th{.tac;}
		tbody .product-shipping{.fwb;.c(#767676);}
		tfoot{.tar;.fwm;
			span{.c(#eb5643);}
			td{.p(10);.bg(#f8f8f8);}
		}
		.product-name{.tal;} 
	}
	&.guest_table{.mt(20);
		tbody td{.c(#767676);.fwm;.p(30,15,0)}
		.guest-action{.tar;}
		.button-create-order{.resw(170,48);.cw;.oln;.ttu;.tac;.p(13,10);.fs(14,22);.bg(@blue);.ba;
			&:hover{.c(@blue);.bg(@yellow);}
		}
		@media(max-width: 459px){.db;.mt(40);
			thead{.dn}
			tbody{.db;
				td{.db;.p;}
			}
			tr{.db;.mb(15);.bb(#ecf0f1);.pb(15);}
			.button-create-order{.mc;.db;}
		}
	}
	&.shop_table_checking_modal{
		tbody{
			.quantity{.w(66,26);.ba(#f0f4f5);.pre;.p(0,22);
				.qty{.c(#231f20);.h(25);.bl(#f0f4f5);.br(#f0f4f5);.bg(#f0f4f5);}
				button{.w(22);.c(#231f20);.bg(#f0f4f5);.f_1;.fs(14,25);	}
			}
		}
	}
}


.owl-slider-wrapper{.m(0,-15);.pre;
	.owl-wrapper-outer{.oh;}
	.owl-wrapper{.afcl;.pre;
		.owl-item{.fl;}
		.item{.m(0,15);}
	}
	.owl-prev,.owl-next{.pab(137);.z4;.bg(@blue);.fs;.w(46,76);.cw;.tac;.cup;.ani;.opacity;
		&:before{.fs(48,76);}
		&:hover{.bg(#45ab48);}
		&.disabled{.bg(#a9acb0)!important;}
		@media(max-width: 991px){.opacity(1)}
	}
	.owl-prev{.db!important;.l(15);
		&:before{.ctfa("\f104");}
	}
	.owl-next{.db!important;.r(15);
		&:before{.ctfa("\f105");}
	}
	
	&:hover{
		.owl-prev,.owl-next{.opacity(1)}
	}
}

.icon-social{.fs;.tac;.pb(15);
	li{.p(0,14);.dib;
		a{.c(@blue,@yellow);.fs(18,28);}
	}
}
.box-support{
	.title{.mb(4);.ttu;.fwb;.fs(14,22)}
	.link-support{.ttu;.fs(14,18);.dib;.bb(@yellow,2);.c(#323232,@yellow);.mb(20);}
	p{.fs(14,24);.mb(11);}
}

.bonus-list{.c(#323232);.pb(15);
	li{.fsi;.fs(13,22);.pre;.pr(75);.mb(14);
		.bonus-badge{.fsn;.fs(12,22);.fw(500);.p(0,5);.ttu;.cw;.bg(#6eb236);.db;.pab;.r(0,0);}
	}
}

.boxer{.bg(#f5f5f3);.mb(30);.p(16,22,10);.c(#323232);
	.variations{.mxw(225);.mc;
		.options-size{.mb;}
		.option-caption{.db;.mb(15)}
	}
	.quantity input{.w100;.ba(@blue);.oln;.h(37);.mb(15);.p(0,10);}
}

.tab-single{
	.tab-controls{.fs;.bb(#eeeeec,2);
		li{.dib;.mr(8);}
	}
	.tab-control{.db;.ttu;.tac;.c(#323232);.p(6,15);.fs(14,21);.bt(#eeeeec,2);.bg(#eeeeec);.tdn!important;.fw(500);
		&.tab-active{.btc(@yellow);}
	}
	.tab-contents{.c(#535658);.pre;	}
	.tab-content{.pab(0,0);.vh;.z-99;.opacity;
		&.tab-active{.ani;.vv;.pre;.z1;.opacity(1);}
		>.text-content{.pt(24);}
	}
}

.fit-row{.m;}
h3.small_title{.fs(14,22);.fwb;.c(@blue);.mb(40);.ttu;}
.customer-row{.bg(#f7f7f7);.p(60,0,30);.pre;
	&:before{.ct;.pab(20,50%);.w(1);.bg(#e9e9e9);.b(20);.db;}
	> li{.p(0,40);}
	h4{.ttu;.c(@blue);.mb(20);.fs(14,22);}
	p{.c(#576069);.fs(14,24);.mb(50);.tal;}
	.input-text{.ba(#dedede);.w100(40);.oln;.pl(20);.f_1;.placeholder(#576069);.c(@blue);.mb(45);}
	.button{.p(9,35);.ttu;.cw;.bg(@blue);.oln;.ba;.fs(14,22);
		&:hover{.c(@blue);.bg(@yellow);}
	}
	.customer-block{.mb(60);}
	@media (max-width: 768px){
		&:before{.dn;}
	}
	@media (max-width: 399px){
		> li{.p(0,15);}
	}
}

.checking-desc{
	h4{.ttu;.fwm;.c(@blue);.fs(14);.mb(8);}
	p{.c(#576069);.mb(20);}
}

/* Blog */
.blog-list{.pb(5);.bb(#f1f1f1);.mb(23);}
.blog-item{.pb(25);
	.thumb{.mxw(270);.mc(0,30);.fw(300);.pre;.bg(#000);
		.date{.cw;.w-h(48);.pab(0,0);.bg(@yellow);.tac;.fs(10,8);.pt(5);.z1;
			.day{.fs(24,24);.db;}
		}
		.type{.pab(51,0);.w-h(48);.bg(#f2f2f2);.c(#28303a);.fs(20,48);.tac;.z1;
			.fa{.lh(48);}
		}
		img{.ani;}
		&:hover{
			img{.opacity(0.6);}
		}
	}
	h3{.fwn;.fs(24,30);.c(#34383d);.ttu;.mb(7);
		a{.c(#34383d,@yellow)}
	}
	
	p{.fs(14,24);.c(#606366);.mb(24)}
	.read_more{.pb(30);.fs(16,24);.c(@yellow,@blue);
		.fa{.fs(16,24);.mr(5);}
	}
}
.post-meta{.fsi;.c(#899096);.fs(14,21);.mb(20);
	a{.c(#474b4e,@yellow);}
	.cat{.c(@yellow,@blue);}
	.fa{.c(#d1d5d8);.lh(21);.mr(5)}
	.comments-num{.c(#899096);}
	.bullet{.fs(16);.m(0,4);.c(#d1d5d8);}
}

.sidebar{
	.widget{.pb(35);}
}
.widget-title{.ttu;.fwm;.fs(18,22);.mb(20);
	a{.c(@black,@yellow);}
	img{.vam;.mr(5)}
}
.recent-posts{
	li{.afcl;.mb(15);.lh(20);}
	.thumb{.fl;.mr(20);}
	.title{.c(#34383d,@yellow);.fs(14);.mb(7);.db;}
	.date{.c(#899096);.fs(13);}
	.bullet{.fs(16);.m(0,4);.c(#d1d5d8);}
	.cat{.c(@yellow,@blue);.fs(13)}
}

.sidebar{
	.widget_categories,.widget_archive,.widget_nav_menu{
		ul{
			ul{.bt(#e7e7e7);.vh;.opacity;.h;}
			li{.pre;.bt(#e7e7e7);.ani;
				&:first-child{.bt;}
				&:hover{.bg(#faf9f9);
					> a{.c(@yellow);.pl(10);}
					> .num{.c(@yellow);}
					> ul{.opacity(1);.vv;.h(auto)}
				}
				li{.pl(20);}
			}
			a{.fs(15,24);.db;.p(10,40,10,0);.pre;.z2;.c(#383f47);
				&:before{.ctfa("\f101");.mr(10);}
			}
			.num{.fsi;.pab(0);.r(10);.c(#686b6f);.ani;.fs(15,48);.c(#383f47);}
		}
	}
}
.widget_rss{
	ul{
		li{.pb(15);.mb(10);.bb(@black,dashed);.afcl;
			&:last-child{.bb;.mb;.pb(5)}
		}
		.rsswidget{.fs(14,22);.db;.c(@blue,@yellow);.fwm;}
		.rss-date{.c(#d1d5d8);.fsi;.fs(13);}
		.rssSummary{.pt(5);.fs(12,18);.afcl;}
		cite{.fr;.fs(13);.c(@yellow);}
	}
}
.widget_recent_entries{
	ul{
		li{.pb(10);.mb(10);.bb(@black,dashed);
			&:last-child{.bb;.mb;.pb(5)}
		}
		a{.c(#34383d,@yellow);.fs(14);.db;.fwm}
		.post-date{.c(#899096);.fs(13);}
	}
}

.widget_calendar{
	table{.ba(@blue);.w100;}
	caption{.bg(@blue);.tac;.cw;.fwm;.ttu;}
	thead{
		th{.tac;.ba(@blue);}
	}
	tbody{
		td{.p(5,10);}
		a{.db;.c(@blue);}
		#today{.bg(@yellow)}
	}
	tfoot{
		a{.db;.p(5,10);.bg(@blue);.tac;.cw;}
	}
}

.thumb-top{.pre;.mb(25);
	.date{.cw;.w-h(70);.pab(0,0);.bg(@yellow);.tac;.fs(14,12);.pt(10);.z1;
		.day{.fs(36,36);.db;.fw(300);}
	}
}
h3.post-title{.c(#34383d);.fs(24,35);.fwn;.ttu;}

.tagcloud{.fs;
	a{.dib;.p(5,10);.ba(#bdc3c7);.c(#34383d);.fs(14,22);.mr(7);.mb(7);
		&:hover{.c(@blue);.bg(@yellow);.bc(@yellow);}
	}
}
.widget-inline{.mb(30);
	.widget-title{.dib;.mb(7);.lh(34);.mr(5);}
	.tagcloud{.di;}
}

.text-content,.textwidget{.fs(14,24);
	> *{.mxw(100%);}
	p{.m(0,0,24,0);}
	h1,h2,h3,h4,h5,h6{.fwm;.mb(24);}
	h1{.fs(24,36);}
	h2{.fs(20,30);}
	h3{.fs(18,24);}
	h4{.fs(16,22);}
	h5{.fs(15,22);.fwb;}
	h6{.fs(14,22);.fwb;}
	blockquote{.bl(#ccc,4);.bg(#F4F5F5);}
	cite{.c(@yellow);}
	table{.ba(#DEDEDE);.mb(20);
		th,td{.ba(#DEDEDE)}
		thead{
			td,th{.p(5,10);}
		}
		tbody{
			td,th{.p(5,10);}
		}
	}
	a{.c(@blue,@yellow);}
	ul{.ml(1em);list-style: disc inside;
		ul{list-style: circle inside;
			ul{list-style: square inside;}
		}
	}
	ol{list-style: decimal inside;.ml(1em)}
	li{.mb(0.3em)}
	p{.mb(22);.fs(14,22);}
	q{.fw(500);.fsi}
	.wp-caption-text{.tac;.p(5)}
	.alignleft{.mr(1em);.fl}
	.alignright{.ml(1em);.fr}
	.aligncenter{.fn;.mc(0,22);}
	.alignnone{.fn;.mb(22);}
	
	&.typography{.c(#585b5d);
		h1,h2,h3,h4,h5,h6{.ttu;.c(@blue);}
	}
	.col-block{.pb(24);}
}

.order-status{.mb(50);
	.fa{.fs(24,22);.mr(10);}
	&.s-created{.c(#3d86df)}
	&.s-checked{.c(#27c53d)}
	&.s-sent{.c(#f42c2c)}
	&.s-get{.c(@yellow)}
	span{.fs(12);.ttu;.fwm;.cb}
}

.step-process{.afcl;.mb(50);
	li{.fl;.w(25%);.tac;.pre;
		&.active{
			.circle{.bg(@yellow);.bc(@yellow);}
			.fa{.cw;}
		}
		&:before{.ct;.w100(1);.pab(26,50%);.z1;.bg(#e2e2e2)}
		&:last-child:before{.dn}
	}
	.circle{.ba(#e2e2e2);.b-radius(50%);.tac;.dib;.w-h(52);.mb(10);.bgw;.z2;.pre;}
	.text{.c(#838383);.fs(16,24); }
	.fa{.fs(20,50);.db;.c(#60bf3a);
		&.fa-shopping-cart{.fs(24);}
		&.fa-check{.fs(24);}
	}
	@media(max-width: 399px){
		li{.w100;.mb(30);
			&:before{.dn;}
		}
	}
}

.checkout--wrap{
	.step{.p(20,0);.bb(#e9e9e9);
		.title{.ttu;.fs(14,22);.c(@blue);}
	}
	.step-content{
		.radio-list{.fs;.mt(6);.pb(27);.bb(#e9e9e9);
			li{.dib;.mr(45);.fs(14,22);}
			.inp-radio{.fwn;}
		}
	}
	.step-button{.h(24);.bg(#f7f7f7);.ttu;.c(@yellow);.fs(10,18);.ba;.oln;.p(3,10);
		.fa{.fs(13,18);}
		&:hover{.bg(@yellow);.c(@blue);}
	}
}
.form--controls{.p(40,0);
	.form--control{.resw(630);.fs;.mb(16);
		label{.fwn;.w(270);.p(6,30,6,0);.c(#777777);.fs(14,22);.tar;.m;}
		.required{.c(#f16325);}
		input{.ba("#e9e9e9");.w(~"calc(100% - 270px)",34);.pl(15);.c(#6b6b6b);.placeholder(#6b6b6b);.fs(13);.f_1;.oln;}
		
	}
	@media(max-width: 768px){
		.form--control{
			label{.tal;.w(100)}
			input{.w(~"calc(100% - 100px)");}
		}
	}
	@media(max-width: 320px){
		.form--control{
			label{.tal;.w(100)}
			input{.w(100%);}
		}
	}
}

.inp-radio{.c(#777777);.fwn;.pl(22);.pre;.cup;.m;
	input[type="radio"]{.pab;.z-99;.opacity;.vh;
		&:checked + span:before{.ctfa("\f111");}
	}
	span:before{.ct;.w-h(14);.pab(4,0);.ba(#777777);.b-radius(50%);.fs(10,12);.pl(1)}
}

.button-guest-checkout{.resw(170,48);.bg(#45ab48);.cw;.ttu;.f_1;.fs(14,22);.p(13,10);.ba;.oln;.mc;
	&:hover{.c(@blue);.bg(@yellow)}
}

@media(max-width: 499px){
	.table-responsive-wrapper{.w100;overflow: auto;}
	.table-responsive-wrapper table{.miw(600);}
}
/* Modal */

.blue-btn{.bg(@blue);.cw;.ttu;.fs(14,22);.p(13,15);.ba;.oln;.cup;.tac;
	&:hover{.c(@blue);.bg(@yellow);}
}
.yellow-btn{.bg(@yellow);.cw;.ttu;.fs(20,24);.p(17,15);.ba;.oln;.cup;.tac;
	&:hover{.bg(@blue);}
}
.modal-dialog{.w(1170);
	@media (max-width: 1199px){.w(970)}
	@media (max-width: 991px){.w(750)}
	@media (max-width: 768px){.w100}
	.modal-content{.p(50);.shaddow-none;.b-radius;.ba;
		@media(max-width: 669px){.p(50,20);.m(0,15);}
	}
	.modal--header{.tac;.mc;.resw(460);.pb(25);
		h3{.fs(24,36);.c(#262626);.ttu;.fwn;.mb(18)}
		p{.fs(14,24);.c(#576069);.mb(24)}
	}
	.modal--form{.pb(30);.bb(#e6e4e4);.mb(42);
		.inp-text{.w100(41);.ba(#dedede);.bg(#f9f8f8);.pl(20);.oln;.f_1;.c(@blue);.placeholder(#676d72);.mb(25);
			&:focus{.bc(@blue);.bgw;}
		}
		ul{.pb(20)}
		.blue-btn{.mc(0,32);.resw(260);}
	}
	h4{.c(#576069);.fwb;.fs(14,24);.mb(15);.ttu;}
	.gray-boxer{.bg(#f8f8f8);.p(22,30);.h100;.pre;}
	.payment-method{
		> li{.mb(20);}
		label{.p(0,0,0,27);.pre;.cup;
			ul{.pt(10);.fs;
				li{.dib;.mr(17);.pt(10);}
			}
		}
		span{.c(#576069);.fwn;.fs(14,22);.dib;
			&:before{.ct;.lh(16);.tac;.w-h(18);.ba(#dedede);.pab(0,0);}
		}
		input[type="checkbox"]{.vh;.pab;.opacity;
			&:checked + span:before{.ctfa("\f00c");}
		}
	}
	.modal--body{.pre;.mih(240);.mb(100);
		@media(min-width: 992px) {.col-md-5{.pab;.r;.t;.h100;}}
		@media(max-width: 991px){
			.gray-boxer{.mt(50)}
		}
	}
	.button-submit-order{.mc(0,45);.resw(250);}
}
.search-product{.pre;.pr(180);
	.input-text{.w100(48);.ba(#dbdbdb);.pl(15);.placeholder(#7b7d7d);.f_1;.fs(14);.c(@blue);.oln;
		&:focus{.bc(@blue);}
	}
	.button-submit{.pab;.r(0,0);.w(170);}
	@media(max-width: 480px){.pr;
		.button-submit{.pre;.w100;}
	}
}
.message{
	.text{.c(#e43d3d);.mb(40);}
}

/* Comment */
.comments{.pt(25);
	> h2{.fs(24,26);.ttu;.c(#333333)}
}
.comment-list{.mb(50);
	.comment{.bt(#f2f2f2);.pre;.pt(20);.mih(120);
		.comment{.pl(30);}
	}
	>.comment:first-child{.bt;}
	@media(max-width: 439px){
		.comment{.pl;.pt(120);
			.comment{.ml(20);.pl;}
		}
	}
	@media(max-width: 319px){
		.comment{
			.comment{.ml;}
		}
	}
}
.comment-body{.pre;.pb(1);
	.comment-author{.pt(10);
		a{.fs(18,24);.c(#34383d,@yellow);.fw(500)}
	}
	.comment-metadata{.dib;.fw(300);
		a{.dib;.fs(14,18);.c(#899096,@blue);.fsi;}
	}
	.avatar{.w-h(70);.pab(0,0);}
	.comment-meta{.mb(24);.pr(70);.pl(100);.pre;.mih(70);}
	.comment-reply-link{.c(@yellow,@blue);.fw(300);.fs(15,18);.pab(45);.r;
		&:before{.ctfa('\f112');.mr(6);.w-h(18);.ba(#b9b9b9);.b-radius(50%);.c(#b9b9b9);.fs(10,16);.dib;.tac;.vam;}
	}
	.comment-content{.bg(#f4f5f5);.p(15,20);.fs(14,24);.c(#606366);.pre;
		&:before{.ct;.w(20,10);.pab(-10,25);.bl(transparent,10);.br(transparent,10);.bb(#f4f5f5,10)}
		p:last-of-type{.mb;}
	}
	@media(max-width: 439px){
		.avatar{.t(-100);.l(50%);.ml(-40);}
		.comment-meta{.pl;.mih;.mb(10);}
		.comment-reply-link{.t(35)}
	}
}
.frm-comment{
	.comment-reply-title{.mb(30);
		span{.db;.fs(24,36);.ttu;.c(#34383d)}
		i{.fs(15,24);}
	}
	.controls{}
	.inp-text{.w100(36);.p(0,13);.ba(#dedede);.mb(27);.placeholder(#34383d);.oln;.ani;
		&:focus{.bc(@yellow);}
	}
	.inp-textarea{.h(128);.pt(5);}
	.inp-submit{.resw(120);.fs(13,21);.p(6,10);.tac;.bg(#262e32);.cw;.ttu;.db;.fw(500);.mb(15);.oln;.dib;.ba;
		&:hover{.bg(@yellow);}
	}
}

@media (min-width: 992px){
	#menu-fixed-top .logo,header .logo{.center-vh;}
}

@media (max-width: 1199px) and (min-width: 992px){
	.footer-banner{.p(15,0);
		ul li{.pl(48);
			img{.w-h(32);.t(21)}
		}
	}
}
@media (max-width: 1199px){
	.product-cats .product-item-shop .overlay{.t(100);}
}

@media (max-width: 991px){
	.header-bottom{.tac;
		.top{.pb;.tal;}
		.bottom{.tal;}
	}
	header .logo{.pre;.dib;.m(0,0,15)}
	.banners{
		.banner{.mb(30)}
	}
	.footer-banner{
		ul{.tac;
			li{.dib;}
			.line{.db;.w-h(0);
				&:after{.dn;}
			}
		}
	}
}
@media (max-width: 991px){
	.col-xs-12{.fn;}
	.header-bottom{
		.top{
			.left{.dn;}
			.right{.fn;.w100;.tac;}
			.menu li:first-child{.pl}
		}
		.bottom{
			.left{.dn;}
			.right{.fn;.mc;}
		}
	}
	#menu-fixed-top{
		.logo{.fl;}
		.right{.fr;}
	}
	.product{
		.images{.mxw(470);.mc(0,30);}
	}
	.tab-single .tab-control{.p(6,10);}
}
@media (max-width: 768px){
	.category-list{
		ul{.tal;}
		li{.mr(20);.mb(15);}
	}
	.filter{
		.left{.w100;}
		.right{.w100;}
	}
	.tab-single .tab-control{.mb(8);}
}
@media (max-width: 599px){
	.footer-social{.tac;
		.left{.w100}
		.right{.w100}
	}
	.footer-banner ul li img{.center-v;}
	#menu-fixed-top .logo{.mxw(40%);.center-v}
	#menu-fixed-top .right{.mxw(40%);}
	.row-small-product{
		li{.w100;}
	}
	.filter{
		.heapBox{.db;.ml;.mb(15)}
	}
}
@media(max-width: 440px){
	#menu-fixed-top{.h(100);
		.header-bottom .bottom .right{.mt(40);
			.btn-search-toggle{.t(52);}
		}
		.logo{.t(12);.l;.mc;.mxw(90%);.tac;.center-h;}
	}
}
@media (min-width: 481px){
	.page-title{
		h1{.center-vh;.tac;}
	}
}
@media (max-width: 480px){
	.header-top{
		.menu{.pb;
			li{.w100;.p;.bl;.pb(11);}
		}
	}
	.row-small-product{
		li{.w100;}
	}
	.page-title{.p(30,15);
		h1{.pre;.tac;}
		img{.h100;.w(auto);.mxw(10000);.pab(0);.center-h;}
	}
	.col-12-1{.w100}
}
@media (max-width: 399px){
	.banners .banner .left-thumb{.w(40%);}
}
@media (max-width: 320px){
	.banners{
		.banner{
			.left-thumb{.w(30%);}
			.title{.fs(24,42)}
			.category{.fs(16,24)}
		}
	}
}
